#App config
PORT = 3000
#DataBase config
DATABASE_HOST = localhost
DATABASE_PORT = 27017
DATABASE_NAME = article_on_koa
DATABASE_USER =
DATABASE_PASSWORD =
#JWT config
ACCESS_JWT_SECRET_WORD = uf7e^WaiUGFSA7fd8&^dadh
ACCESS_TOKEN_LIFETIME = 10m
REFRESH_JWT_SECRET_WORD = 3fhfsdjfkf$$uIEFSHFKdf
REFRESH_TOKEN_LIFETIME = 1d
